### INTRODUCTION
This is an exploratory analysis to find insights into what factors affect the socioeconomic status of selected counties in The United States in 2020                                                                                                 
We will be delving into factors like unemployment,single parenting,ranking for socioeconomic status and disability.                

You may find the data and documentation from [The Agency For Toxic Substance And Disease Registry]('https://www.atsdr.cdc.gov/')

In [20]:
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
pd.set_option('display.max_columns',None)
%matplotlib inline

In [21]:
us_data = pd.read_csv('SVI2020_US_COUNTY.csv')
us_data.head()

,ST,STATE,ST_ABBR,STCNTY,COUNTY,FIPS,LOCATION,AREA_SQMI,E_TOTPOP,M_TOTPOP,E_HU,M_HU,E_HH,M_HH,E_POV150,M_POV150,E_UNEMP,M_UNEMP,E_HBURD,M_HBURD,E_NOHSDP,M_NOHSDP,E_UNINSUR,M_UNINSUR,E_AGE65,M_AGE65,E_AGE17,M_AGE17,E_DISABL,M_DISABL,E_SNGPNT,M_SNGPNT,E_LIMENG,M_LIMENG,E_MINRTY,M_MINRTY,E_MUNIT,M_MUNIT,E_MOBILE,M_MOBILE,E_CROWD,M_CROWD,E_NOVEH,M_NOVEH,E_GROUPQ,M_GROUPQ,EP_POV150,MP_POV150,EP_UNEMP,MP_UNEMP,EP_HBURD,MP_HBURD,EP_NOHSDP,MP_NOHSDP,EP_UNINSUR,MP_UNINSUR,EP_AGE65,MP_AGE65,EP_AGE17,MP_AGE17,EP_DISABL,MP_DISABL,EP_SNGPNT,MP_SNGPNT,EP_LIMENG,MP_LIMENG,EP_MINRTY,MP_MINRTY,EP_MUNIT,MP_MUNIT,EP_MOBILE,MP_MOBILE,EP_CROWD,MP_CROWD,EP_NOVEH,MP_NOVEH,EP_GROUPQ,MP_GROUPQ,EPL_POV150,EPL_UNEMP,EPL_HBURD,EPL_NOHSDP,EPL_UNINSUR,SPL_THEME1,RPL_THEME1,EPL_AGE65,EPL_AGE17,EPL_DISABL,EPL_SNGPNT,EPL_LIMENG,SPL_THEME2,RPL_THEME2,EPL_MINRTY,SPL_THEME3,RPL_THEME3,EPL_MUNIT,EPL_MOBILE,EPL_CROWD,EPL_NOVEH,EPL_GROUPQ,SPL_THEME4,RPL_THEME4,SPL_THEMES,RPL_THEMES,F_POV150,F_UNEMP,F_HBURD,F_NOHSDP,F_UNINSUR,F_THEME1,F_AGE65,F_AGE17,F_DISABL,F_SNGPNT,F_LIMENG,F_THEME2,F_MINRTY,F_THEME3,F_MUNIT,F_MOBILE,F_CROWD,F_NOVEH,F_GROUPQ,F_THEME4,F_TOTAL,E_DAYPOP,E_NOINT,M_NOINT,E_AFAM,M_AFAM,E_HISP,M_HISP,E_ASIAN,M_ASIAN,E_AIAN,M_AIAN,E_NHPI,M_NHPI,E_TWOMORE,M_TWOMORE,E_OTHERRACE,M_OTHERRACE,EP_NOINT,MP_NOINT,EP_AFAM,MP_AFAM,EP_HISP,MP_HISP,EP_ASIAN,MP_ASIAN,EP_AIAN,MP_AIAN,EP_NHPI,MP_NHPI,EP_TWOMORE,MP_TWOMORE,EP_OTHERRACE,MP_OTHERRACE
0,1,Alabama,AL,1001,Autauga,1001,"Autauga County, Alabama",594.455838,55639,0,23697,68,21559,366,12611,1349,736,185,5029,576,4273,562,4345,725,8490,85,13143,49,9658,856,1608,302,363,229,14479,578,918,292,4313,440,339,162,1167,320,578,157,22.9,2.4,2.9,0.7,23.3,2.6,11.3,1.5,8.0,1.3,15.3,0.2,23.6,0.1,17.7,1.6,7.5,1.4,0.7,0.4,26.0,1.0,3.9,1.2,18.2,1.8,1.6,0.8,5.4,1.5,1.0,0.3,0.4624,0.1397,0.7078,0.5080,0.4586,2.2765,0.4045,0.1827,0.6986,0.6830,0.7922,0.4736,2.8301,0.7362,0.6337,0.6337,0.6337,0.6050,0.7486,0.4023,0.4764,0.1569,2.3892,0.4309,8.1295,0.5325,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,41810,7100,913,10849,345,1601,0,649,174,155,102,0,29,1124,374,101,101,12.9,0.0,19.5,0.6,2.9,0.0,1.2,0.3,0.3,0.2,0.0,0.1,2.0,0.7,0.2,0.3
1,1,Alabama,AL,1003,Baldwin,1003,"Baldwin County, Alabama",1589.835294,218289,0,116747,180,84047,1143,36413,2802,4027,714,19350,1526,14823,1344,20501,1932,44716,109,46993,0,30615,1565,3317,547,1593,486,37334,1866,19513,979,11893,868,1280,364,2627,397,2954,403,16.9,1.3,3.9,0.7,23.0,1.8,9.5,0.9,9.5,0.9,20.5,0.1,21.5,0.0,14.2,0.7,3.9,0.6,0.8,0.2,17.1,0.9,16.7,0.8,10.2,0.7,1.5,0.4,3.1,0.5,1.4,0.2,0.1770,0.2861,0.8912,0.3647,0.5767,2.2957,0.4112,0.6496,0.4077,0.3689,0.1738,0.5150,2.1150,0.2724,0.5022,0.5022,0.5022,0.9574,0.4885,0.3600,0.1257,0.3157,2.2473,0.3612,7.1602,0.3552,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,1,218607,24453,2477,19027,744,9947,0,2033,352,1327,371,10,16,4250,871,740,740,11.4,0.0,8.7,0.3,4.6,0.0,0.9,0.2,0.6,0.2,0.0,0.1,1.9,0.4,0.3,0.2
2,1,Alabama,AL,1005,Barbour,1005,"Barbour County, Alabama",885.007618,25026,0,12057,119,9322,338,8965,673,649,182,2305,298,4497,387,2362,311,4777,16,5222,29,4159,287,1029,217,433,205,13694,271,170,77,3644,347,350,192,1039,202,2910,264,40.6,3.0,6.9,1.9,24.7,3.1,25.3,2.2,10.7,1.4,19.1,0.1,20.9,0.1,18.8,1.4,11.0,2.3,1.8,0.9,54.7,1.1,1.4,0.6,30.2,2.8,3.8,2.1,11.1,2.1,11.6,1.1,0.9586,0.8071,0.5121,0.9688,0.6680,3.9146,0.9532,0.5216,0.3316,0.7581,0.9656,0.7460,3.3229,0.9453,0.8962,0.8962,0.8962,0.2565,0.9427,0.8549,0.9456,0.9513,3.9510,0.9949,12.0847,0.9927,1,0,0,1,0,2,0,0,0,1,0,1,0,0,0,1,0,1,1,3,6,27133,6249,675,11889,179,1110,0,122,25,81,63,1,2,334,149,157,157,28.3,0.3,47.5,0.7,4.4,0.0,0.5,0.1,0.3,0.3,0.0,0.1,1.3,0.6,0.6,0.4
3,1,Alabama,AL,1007,Bibb,1007,"Bibb County, Alabama",622.469288,22374,0,9237,82,7259,299,5730,907,667,260,1580,319,3056,414,1878,387,3676,125,4584,0,3748,551,790,252,75,107,5724,156,228,112,2943,327,91,58,481,226,1657,221,27.6,4.4,7.4,2.8,21.8,4.3,19.1,2.6,9.1,1.9,16.4,0.6,20.5,0.0,18.1,2.6,10.9,3.4,0.4,0.5,25.6,0.7,2.5,1.2,31.9,3.5,1.3,0.8,6.6,3.1,7.4,1.0,0.6820,0.8485,0.4067,0.8654,0.5471,3.3497,0.7963,0.2623,0.2903,0.7101,0.9637,0.3116,2.5380,0.5512,0.6292,0.6292,0.6292,0.4402,0.9554,0.2759,0.6556,0.8873,3.2144,0.8622,9.7313,0.8065,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,1,2,18799,3839,626,4971,111,600,0,56,81,12,25,0,23,85,67,0,0,18.5,0.2,22.2,0.5,2.7,0.0,0.3,0.4,0.1,0.1,0.0,0.2,0.4,0.3,0.0,0.2
4,1,Alabama,AL,1009,Blount,1009,"Blount County, Alabama",644.890375,57755,0,24404,87,21205,430,13624,1151,1253,301,4060,431,6838,499,5746,695,10382,106,13372,85,8564,775,1313,262,801,263,7690,344,167,95,6043,515,385,139,1077,275,564,144,23.8,2.0,5.2,1.2,19.1,2.0,17.2,1.3,10.0,1.2,18.0,0.2,23.2,0.1,15.0,1.4,6.2,1.2,1.5,0.5,13.3,0.6,0.7,0.4,24.8,2.1,1.8,0.7,5.1,1.3,1.0,0.2,0.5010,0.5586,0.6617,0.8027,0.6181,3.1421,0.7234,0.4090,0.6489,0.4421,0.6108,0.6986,2.8094,0.7225,0.4147,0.4147,0.4147,0.1187,0.8803,0.4742,0.4281,0.1569,2.0582,0.2743,8.4244,0.5853,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,42172,8987,1175,771,167,5362,0,236,41,49,41,55,60,1038,181,179,179,15.7,0.0,1.3,0.3,9.3,0.0,0.4,0.1,0.1,0.1,0.1,0.1,1.8,0.3,0.3,0.4

In [22]:
us_data.shape

(3143, 158)

In [23]:
us_data['COUNTY'].value_counts().sort_index(ascending = True)

Abbeville        1
Acadia           1
Accomack         1
Ada              1
Adair            4
                ..
Yukon-Koyukuk    1
Yuma             2
Zapata           1
Zavala           1
Ziebach          1
Name: COUNTY, Length: 1852, dtype: int64

In [24]:
sel_cols = ['COUNTY','STATE','E_TOTPOP','E_NOINT','E_HBURD','E_DISABL','E_SNGPNT','E_CROWD','E_POV150','E_UNEMP','E_NOHSDP',
              'E_UNINSUR','E_AGE65','E_AGE17','RPL_THEME1']

In [25]:
new_df = us_data[sel_cols]
new_df.head()

,COUNTY,STATE,E_TOTPOP,E_NOINT,E_HBURD,E_DISABL,E_SNGPNT,E_CROWD,E_POV150,E_UNEMP,E_NOHSDP,E_UNINSUR,E_AGE65,E_AGE17,RPL_THEME1
0,Autauga,Alabama,55639,7100,5029,9658,1608,339,12611,736,4273,4345,8490,13143,0.4045
1,Baldwin,Alabama,218289,24453,19350,30615,3317,1280,36413,4027,14823,20501,44716,46993,0.4112
2,Barbour,Alabama,25026,6249,2305,4159,1029,350,8965,649,4497,2362,4777,5222,0.9532
3,Bibb,Alabama,22374,3839,1580,3748,790,91,5730,667,3056,1878,3676,4584,0.7963
4,Blount,Alabama,57755,8987,4060,8564,1313,385,13624,1253,6838,5746,10382,13372,0.7234

In [26]:
new_df.isna().sum()

COUNTY        0
STATE         0
E_TOTPOP      0
E_NOINT       0
E_HBURD       0
E_DISABL      0
E_SNGPNT      0
E_CROWD       0
E_POV150      0
E_UNEMP       0
E_NOHSDP      0
E_UNINSUR     0
E_AGE65       0
E_AGE17       0
RPL_THEME1    0
dtype: int64

In [27]:
new_df['COUNTY'].value_counts().sort_index()

Abbeville        1
Acadia           1
Accomack         1
Ada              1
Adair            4
                ..
Yukon-Koyukuk    1
Yuma             2
Zapata           1
Zavala           1
Ziebach          1
Name: COUNTY, Length: 1852, dtype: int64

In [28]:
final_df = new_df.loc[[611,3088,1149,3139, 2255,363, 993, 1220, 1888, 223, 1222, 2074, 2945, 1794, 261, 2315, 193]].reset_index(drop = True)
final_df

,COUNTY,STATE,E_TOTPOP,E_NOINT,E_HBURD,E_DISABL,E_SNGPNT,E_CROWD,E_POV150,E_UNEMP,E_NOHSDP,E_UNINSUR,E_AGE65,E_AGE17,RPL_THEME1
0,Cook,Illinois,5169517,598299,633923,531159,131732,64064,1109927,193952,442048,447982,757688,1128625,0.7861
1,Milwaukee,Wisconsin,949180,139696,129172,116586,37169,9861,263250,24688,71018,67755,129110,227662,0.7199
2,Orleans,Louisiana,391249,66823,62233,52657,12933,1912,128378,16721,34489,35341,57867,78059,0.9424
3,Teton,Wyoming,23356,2313,2057,1473,416,495,2779,280,945,2666,3481,4192,0.1356
4,Cambria,Pennsylvania,131611,18800,11692,23500,3020,446,28047,3111,7547,5234,29633,25312,0.3676
5,Miami-Dade,Florida,2705528,424356,381497,273538,69735,56832,740838,70536,349764,433554,440203,552057,0.9586
6,Wyandotte,Kansas,165447,25417,18620,22235,5439,2735,51311,5157,20692,28152,20601,45960,0.9908
7,Bristol,Massachusetts,563301,62573,62400,80003,16964,3215,97872,16304,54846,15965,95498,116553,0.4780
8,Westchester,New York,968738,78568,99113,91254,20943,13923,132543,29288,76376,52370,165858,212908,0.4739
9,San Diego,California,3323970,203586,366273,322003,63612,77186,593926,104435,270769,244072,467737,718250,0.6531
10,Essex,Massachusetts,787038,70621,88893,93753,21050,8330,129060,22460,56453,23282,134580,167490,0.3647
11,Hamilton,Ohio,815790,78270,94205,96301,29174,5535,179043,23304,45405,44460,125679,187494,0.4920
12,Richmond City,Virginia,229233,41901,35723,32817,6626,1560,67249,8082,21090,26066,30140,39853,0.9290
13,Union,New Jersey,555208,57901,61021,50901,14106,8752,88632,17370,48642,61811,80255,130376,0.6999
14,Denver,Colorado,715878,59469,88906,68918,15701,8856,136516,18531,56460,68142,84203,138830,0.5611
15,Providence,Rhode Island,636161,66763,79290,87498,19469,6024,133089,19872,60019,32924,97381,130930,0.6388
16,Contra Costa,California,1147788,56576,98841,127957,23103,19927,156345,32666,80257,57133,181578,260191,0.3972

In [29]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   COUNTY      17 non-null     object
 1   STATE       17 non-null     object
 2   E_TOTPOP    17 non-null     int64
 3   E_NOINT     17 non-null     int64
 4   E_HBURD     17 non-null     int64
 5   E_DISABL    17 non-null     int64
 6   E_SNGPNT    17 non-null     int64
 7   E_CROWD     17 non-null     int64
 8   E_POV150    17 non-null     int64
 9   E_UNEMP     17 non-null     int64
 10  E_NOHSDP    17 non-null     int64
 11  E_UNINSUR   17 non-null     int64
 12  E_AGE65     17 non-null     int64
 13  E_AGE17     17 non-null     int64
 14  RPL_THEME1  17 non-null     float64
dtypes: float64(1), int64(12), object(2)
memory usage: 2.1+ KB

### EXPLORATION ANALYSIS

#### A pairplot to give a high level correlation between numeric variables from my data. You may be able to deduce a high level relationship between variables I may not be able to touch on

In [ ]:
sb.pairplot(final_df)

#### COUNTIES WITH HIGH POPULATION

In [ ]:
final_df.groupby('COUNTY')['E_TOTPOP'].sum().sort_values(ascending = False).plot(kind = 'bar',figsize = (15,5))
plt.title('TOTAL POPULATION FOR EACH COUNTY ');

Among our seventeen counties of interest, Cook has the largest population with over 5 million people. Teton being the least populated county with over 23 Thounsand

#### PERCENTILE RANKING FOR SOCIOECONOMIC STATUS PER COUNTY

In [ ]:
final_df.groupby('COUNTY')['RPL_THEME1'].sum().sort_values(ascending = False).plot(kind = 'bar',figsize = (15,5))
plt.title('PERCENTILE RANKING FOR SOCIOECONOMIC STATUS PER COUNTY');

The graph above shows the percentile ranking of each county likely to be affected by socioeconomic factors like unemployment,climate change etc. Wyandotte ranks in 99th percentile that means it's 99 percent likely to be affected by socioeconomic factors than other counties in our selected counties.                                                         
We have other counties like Miami-Dade,Orleans and Richmond city following closely.                                           
Teton has the least percentile rank of 14 percent

#### RELATIONSHIP BETWEEN POPULATION AND UNEMPLOYMENT
Here we seek to find any relationship between population of a county and unemployment rate

In [ ]:
 plt.figure(figsize = (8,5))
def reg_plots(data,x,y,title):
    fig = sb.regplot(data = data,x=x , y=y).set_title(title)
    return fig
reg_plots(final_df, 'E_TOTPOP','E_UNEMP', 'RELATIONSHIP BETWEEN POPULATION AND UNEMPLOYMENT');

There is a positive linear relationship between unemployment and population.The higher the population, the higher the unemployment rate

#### RELATIONSHIP BETWEEN UNEMPLOYMENT AND  PEOPLE WITH NO COMPUTER WITH  BROADBAND SUBSCRIPTIONS

In [ ]:
#relationship between unemployment and broadband internet subscription
plt.figure(figsize=(8,5))

reg_plots(final_df,'E_UNEMP', 'E_NOINT','RELATIONSHIP BETWEEN UNEMPLOYMENT AND BROADBAND SUBSCRIPTIONS');

There is a positive relationship between unemployment and people with no broadband subscriptions.That is to say, with high unemployment rate comes with people unable to subscribe to internet

#### COUNTIES WITH HIGH UNINSURED CIVILIANS
We will look at counties with uninsured noninstitutionalized population

In [ ]:
final_df.groupby('COUNTY')['E_UNINSUR'].sum().sort_values(ascending = False).plot(kind = 'bar',figsize = (15,5))
plt.title('COUNTIES WITH HIGH NUMBERS OF UNINSURED CIVILIANS ');

Cook and Miami-Dade have higher estimates of people who are uninsured with over 400000 but this makes up 8.7 and 16.2 percent of each population respectively whilst San diego follows with over 200000 people making 7.6 percent of it's population. Teton has the least estimates for uninsured people of 2666 people making 11.4 percent of it's population

#### RELATIONSHIP BETWEEN SINGLE PARENTING, PEOPLE WITH NO HIGH SCHOOL  DIPLOMA AND UNEMPLOYMENT
We will be looking at three variables:                                                                                         
1. E_SNGPNT :single parent household with children under 18 years                                                               
2. E_NOHSDP : Persons with no high school diploma(age 25 and above)                                                             
3. E_UNEMP: UNEMPLOYMENT                                                                                                       
We will explore how each variable is related to the other

In [ ]:
fig, axes = plt.subplots(1, 2, figsize=(18, 10))

fig.suptitle('HOW DO HIGH SCHOOL DIPLOMA AND SINGLE PARENTING RELATES WITH UNEMPLOYMENT')

sb.regplot(ax=axes[0], data=final_df, x='E_SNGPNT', y='E_NOHSDP')
sb.regplot(ax=axes[1], data=final_df, x='E_NOHSDP', y='E_UNEMP');

In [ ]:
reg_plots(final_df, 'E_SNGPNT','E_UNEMP', title = 'Relationship Between Single parenting and Unemployment');

From our two scatterplots above,we can observe that there is a correlation between people with no high school diploma and single parenting in the graph on the left                                                                                    
From the second graph on the right, there is also a correlation between people with no high school diploma and unemployment.      
There is a likely connection between these variables, in that, single parents are likely not to attain high school diploma hence increases unemployment for them

#### SUMMARY
-From our select counties of interest,Cook has the highest population of over 5 Million people whilst Teton recorded the lowest population of over 23 Thousand 

-Wyandotte ranks in 99th percentile that means it's 99 percent likely to be affected by socioeconomic factors than other counties in our selected counties. Teton has the least percentile rank of about 14 percent.  

-There is a positive linear correlation between unemployment and population in that as population increase, unemployment also increase                                                                                                                                 
-There is a positive relationship between unemployment and people with no broadband subscriptions.                                                                                                                                                              
-Cook and Miami-Dade have higher estimates of people who are uninsured with over 400000 but this makes up 8.7 and 16.2 percent of its population respectively whilst San diego follows with over 200000 people making 7.6 percent of it's population. Teton has the least estimates for uninsured people of 2666 people making 11.4 percent of it's population.                            
Teton may have the least number of people uninsured but that makes 11.4 percent of it's population and that make them more likely not to have insurance.

-There is a relationship between unemployment,single parenting and people with no high school diploma.There is a likely connection between these variables in that, single parents are likely not to attain high school diploma hence increases unemployment.

#### Limitations
Analysis was not done on all counties in the United States since the flagship initiative has priority counties.
Further Analysis may be done to get more insights on other counties                                                             

Any correlation between variables should not be termed as causation as there was no randomized controlled experiments